<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="stylesheet" href="../assets/css/estilospedido.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/img/ico.png">   
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <title>BurguerStone</title>
</head>
<body>

    <!--Header Nav-->
    <header>
        <nav class="navbar navbar-expand-xl navbar-light col-12 navCustom justify-content-center">
            <ul class="nav">
                <li class="nav-item">
                <a class="nav-link active" href="../index.html">Inicio</a>
                </li>
            </ul>
            <div class="">
                <a href="../index.html"><img class="burgerLogo" src="../assets/img/logo.png" alt="logoBurger"></a>
            </div>
        </nav> 

    </header>   

     <!-- Main sección -->

    <main class="tituloBurgers">
        <h1 class="listado">Lista de Hamburguesas:</h1>
    </main>
    <section class="container d-flex justify-content-center flex-column">
        <ul class="burgers row" style="text-align: center;"></ul>
    </section>

    <div class="tituloBurgers">
        <h1 class="listado">Armala a tu manera:</h1>  
    </div>
    <div class="d-flex justify-content-center">
       <a href="./armarburger.html"><img id="armarBurger" class="imgMenus" src="../assets/img/armaBurger.jpg" alt="armaBurger" srcset=""></a>
    </div>

    <section class="container d-flex justify-content-center flex-column">
        <ul class="burgers row" style="text-align: center;"></ul>
        <button id="btnFinal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver pedido</button>
    </section>



    <!-- Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tu pedido</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
            </div>
        </div>
        </div>
    </div>



    <script src="../assets/js/dom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>    
</body>
</html>