#agregadoCarrito{
    border-radius: 10px;
    border: 2px #198754 solid;
    margin-left: 50px;
    cursor: pointer;
    background: #e4c49e;
}


.imgMenus{
    width: 250px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px;
}

.imgMenuCompra{
    width: 65px;
    margin-right: 15px;
    border-radius: 4px;
}

.tituloBurgers {
    display: flex;
    justify-content: center;
}

.listado {
    text-align: center;
    margin: 50px 0;
    border-bottom: 2px solid #54a503;
    color: #000000;
    font-family: 'DM Serif Display', serif;
}


#armarBurger{
    cursor: pointer;
}

#armarBurger:hover{
    opacity: 0.85;
    transform: scale(1.05);
    color: #54a503;
}


/*Lista Hamburgesas */

.etiquetaBurgers{
    margin: 30px 0;
    padding: 20px;
}

.burgers{
    text-align: center;
    padding-left: 0;
}


.precioBurger{
    color: rgb(0, 206, 89);
}

.caracteristicas {
    opacity: 0.7;
    font-size: 14px;
    padding-bottom: 30px;
}

.btnAgregar {
    padding: 4px;
    background-color: #000000;
    color: #fafafa;
}


/* Botón finalizar pedido*/

#btnFinal{
    margin: 70px 0 30px 0;
}

#confirmar {
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    padding: 3px;
}





/* MQuery */


@media (max-width: 800px) {
    .btnAgregar {
        margin-bottom: 30px;
    }
}