:root{
    --main-color:#54a503;
    --var-color: rgb(255, 248, 248);
    --black-color: rgb(12, 12, 12);
}



#agregadoCarrito{
    border-radius: 10px;
    border: 2px #198754 solid;
    margin-left: 50px;
    cursor: pointer;
    background: #e4c49e;
}



.imgMenus{
    width: 250px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px;
}


.tituloBurgers {
    display: flex;
    justify-content: center;
}

.listado {
    text-align: center;
    margin: 50px 0;
    border-bottom: 2px solid var(--main-color);
    color: var(--black-color);
    font-family: 'DM Serif Display', serif;
}


#armarBurger{
    cursor: pointer;
}

#armarBurger:hover{
    opacity: 0.85;
    transform: scale(1.05);
    color: var(--main-color);
}


/*Lista Hamburgesas */

.etiquetaBurgers{
    margin: 30px 0;
    padding: 20px;
}

.burgers{
    text-align: center;
    padding-left: 0;
}


.precioBurger{
    color: rgb(0, 206, 89);
}

.caracteristicas {
    opacity: 0.7;
    font-size: 14px;
    padding-bottom: 30px;
}

.btnAgregar {
    padding: 4px;
    background-color: var(--black-color);
    color: var(--var-color);
}


/* Modal*/


.modalPedido{
    justify-content: space-between;
}

.imgMenuCompra{
    width: 65px;
    margin-right: 15px;
    border-radius: 4px;
}

#btnFinal{
    margin: 70px 0 30px 0;
}

#confirmar {
    background-color: var(--black-color);
    border-color: #258d36;
    color: var(--var-color);
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.5s;
    padding: 4px;
}

#confirmar:hover{
    color: var(--main-color);
    background-color: #343833;
    border-color: var(--var-color);
}



/* MQuery */


@media (max-width: 800px) {
    .btnAgregar {
        margin-bottom: 30px;
    }
}