.imgBurger{
    display: flex;
    justify-content: center;
}

.imgBurgerArmado{
    width: 500px;
    border-radius: 6px;
    margin-top: 30px;
    box-shadow: 1px 1px 7px;
}


#formularioArmado{
    max-width: 800px;
    margin: 50px auto;
    width: 100%;
    padding: 0 20px;
}

#formularioArmado h1 {
    font-size: 20px;
    font-weight: 700;
}


#formularioArmado h2 {
    font-size: 18px;
    font-weight: 500;
}

#formularioArmado h4 {
    font-size: 16px;
    opacity: .80;
}

#btnAgregarArmado{
    margin: 0 auto;
    display: flex;
    width: 400px;
    justify-content: center;
    margin-bottom: 30px;
}


.opcion {
    display: flex;
    justify-content: flex-end;
}



#agregadoCarrito{
    border-radius: 10px;
    border: 2px #198754 solid;
    margin-left: 50px;
    cursor: pointer;
    background: #e4c49e;
}


#burgerFinalImg{
    width: 65px;
    margin-right: 15px;
    border-radius: 4px;
}

/* MQuery */


@media (max-width: 600px) {
    .imgBurgerArmado{
        width: 300px;
    }

    #btnAgregarArmado{
        width: 300px;
    }
}