* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.burgerLogo {
    width: 40px;
    margin-left: 50px;
}

.navCustom{
    background-color: #54a503;
    font-size: 200;
    font-weight: 500;
    justify-content: space-around;
}

.navCustom ul li a{
    color: #ffffff;
}


.btn-primary{
    background-color: #000000;
    border-color: #258d36;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
}


/* Carousel */

.carousel-custom{
    display: flex;
    flex-flow: row wrap;
}


.img-custom{
    height: 92vh;
    object-fit: cover;
}

.btn-menu{
    border-radius: 10px;
    text-decoration:none;
    padding: 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 1px 3px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#000000),to(#000000));
    background-image: linear-gradient(#000000 10%,#34b700 100%);
    color: #ffffff;
}


/* Nosotros */

#nosotros{
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

#story-image{
    text-align: center;
}

.img-local{
    width: -webkit-fill-available;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
    padding: 50px 30px;
}

.seccion-titulo{
    padding: 50px 30px;
}

.seccion-titulo p{
    padding-top: 50px;
}





/* MQuery */


