.imgBurger{
    display: flex;
    justify-content: center;
}

.imgBurgerArmado{
    width: 500px;
    border-radius: 7px;
    margin-top: 30px;
}


#formularioArmado{
    max-width: 800px;
    margin: 50px auto;
    width: 100%;
    padding: 0;
}



#btnAgregarArmado{
    margin: 0 auto;
    display: flex;
    width: 400px;
    justify-content: center;
}