* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}




.burgerLogo {
    width: 40px;
    margin-left: 50px;
}



.navCustom{
    background-color: #54a503;
    font-size: 200;
    font-weight: 500;
    justify-content: center;
}

.navCustom ul li a{
    color: #fafafa;
    position: relative;
    letter-spacing: 1px;
    transition: 0.5s;
}


.navCustom ul li a:hover{
    color: rgb(22, 22, 22);
}


.btn-primary{
    background-color: #000000;
    border-color: #258d36;
    color: #fafafa;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.5s;
}

.btn-primary:hover {
    color: #54a503;
    background-color: #343833;
    border-color: #fafafa;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fafafa;
    background-color: #000000;
    border-color: #000000;
}


/* Carousel */

.carousel-custom{
    display: flex;
    flex-flow: row wrap;
}


.carousel-item h4{
    background-color: #000000;
    border-radius: 6px;
    padding: 5px 0;
}

.carousel-item h3{
    background-color: #000000;
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
}

.img-custom{
    height: 94vh;
    object-fit: cover;
}

.btn-menu{
    border-radius: 8px;
    text-decoration:none;
    padding: 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 1px 3px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#000000),to(#000000));
    background-image: linear-gradient(#000000 10%,#34b700 100%);
    color: #fafafa;
}


/* Nosotros */

#nosotros{
    padding-top: 10px;
    padding-bottom: 10px;
}

#story-image{
    text-align: center;
}

.img-local{
    width: 600px;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
    box-shadow: 1px 1px 7px;
    border-radius: 4px;
    margin-top: 30px;
}

.seccionTitulo{
    padding: 50px 30px;
}

.seccionTitulo h2{
    border-bottom: 2px solid #54a503;
    color: #000000;
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    display: inline-block;
    font-weight: 700;

}

.seccionTitulo p{
    padding-top: 50px;
    font-weight: 700;
    font-size: large;
}


/* Chef */

#chefDia {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#chefDiaImg{
    height: 700px;
    box-shadow: 1px 1px 7px;
    border-radius: 4px;
}

.rating {
    color: #54a503;
}

.nombreChef{
    box-shadow: 1px 1px 7px;
    border-radius: 6px;
    padding: 5px;
    color: #54a503;
}


/* Footer */


footer{
    width: 100%;
    background: #54a503;
    color: #fafafa;
}


.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.container-body div h1 {
    font-size: 20px;
}

.container-body div label {
    font-size: 14px;
    padding: 10px;
}

.column1{
    max-width: 400px;
}

.column1 p {
    font-size: 14px;
    margin-top: 20px;
}


.column2{
    max-width: 400px;
}

.column2 .row{
    margin-top: 20px;
    display: flex;
}

.column3{
    max-width: 400px;
}

.row-custom{
    margin-top: 20px;
    display: flex;
}

.row-custom label{
    margin-left: 20px;
}

.logo-foot {
    width: 35px;
    height: 35px;
}


.container-foot{
    background-color: #000000;
    width: 100%;
    display: flex;
    padding: 15px;
}

/* MQuery */

@media screen and (max-width: 1100px){
    .container-body{
        flex-wrap: wrap;
    }

    .column1{
        max-width: 100%;
    }

    .column2,.column3{
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .img-custom{
        height: auto;
    }
    .img-local{
        width: 300px;
        padding: 0;
        margin-top: 50px;
    }
}

@media screen and (max-width: 720px){

    .column1,.column2,.column3{
        margin-top: 20px;
    }
    #chefDia {
        flex-direction: column;
        margin-bottom: 40px;
    }
    
}


@media (max-width: 500px) {
    #chefDiaImg{
        height: 450px;
    }
}


@media (max-width: 280px) {

    .img-local{
        width: 250px;
    }
    .row-custom label{
        margin-left: 0;
    }
}



